.styledLinkContent--menu-footer{
    font-family: Montserrat-SemiBold;
    color: #9eabf0;
    font-size: 12px!important;
    font-weight: 500;
}

.styledLinkContent--menu-footer:hover{
    color: #fff;
}

.menuContainer--menu-footer :global(.vtex-menu-2-x-styledLinkContainer) {
    margin: 0;
    margin-right: 15px;
}
