.summaryContainer {
  margin-right: auto;
    margin-left: 0;
    position: relative;
}

.summaryContainer :global(.vtex-numeric-stepper-wrapper) {
  border: 1px solid #475be0;
    border-radius: 25px;
}

:global(.vtex-numeric-stepper__input),
:global(.vtex-numeric-stepper__minus-button),
:global(.vtex-numeric-stepper__minus-button-container),
:global(.vtex-numeric-stepper__plus-button-container),
:global(.vtex-numeric-stepper__plus-button) {
  background: transparent;
  height: 45px;
  border: none;
  outline: none!important;
}

:global(.vtex-numeric-stepper__input),
:global(.vtex-numeric-stepper__minus-button),
:global(.vtex-numeric-stepper__minus-button-container),
:global(.vtex-numeric-stepper__plus-button),
:global(.vtex-numeric-stepper__plus-button-container) {
  width: 30%;
  text-align: center;
  color: #475be0!important;
  display: flex;
}

:global(.vtex-numeric-stepper__minus-button__text),
:global(.vtex-numeric-stepper__plus-button__text) {
  line-height: 1;
  margin-bottom: 3px;
}

:global(.vtex-numeric-stepper__minus-button__text) {
  position: relative;
  left: 7px;
}