.skuSelectorContainer--quickview .skuSelectorItemImage .frameAround, .skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 50%;
}

.container :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 1;
}

@media screen and (max-width: 40em) {
  .container :global(.vtex-modal-layout-0-x-triggerContainer) {
    display: none;
  }
}

.nameContainer {
  justify-content: start;
  padding-top: 1rem;
  padding-bottom: 1rem;
  
}

.brandName {
  font-weight: 900;
  font-size: .75rem;
  color: #82878a;
  font-family: "Montserrat-Regular";
}

.container {
  text-align: start;
}

.imageContainer {
  text-align: center;
}

.image {
  border-radius: 0.25rem;
}

.imageNormal {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-height: 200px;
}

.buyButton :global(.vtex-button) {
  background-color:#fff;
  text-transform: capitalize;
  color: #475be9;
  border-radius: 50px;
  min-height: 30px;
  border-color: #475be9;
}

.buyButton :global(.vtex-button) :hover {
  background-color:#475be9;
  color: #fff;
  border-radius: 50px;
  min-height: 30px;
}

.element {
  background-color: #fff;
  max-width: 220px!important;
  padding: 40px 0;
  margin: 0 auto;
  border-radius: 9px;
  width: 100%;
  position: relative;
  border-bottom: .9px solid #e5e6e7;
  border-radius: inherit;
}

