.styledLinkContent--menu-footer{
    font-family: Montserrat-SemiBold;
    color: #9eabf0;
    font-size: 12px!important;
    font-weight: 500;
}

.styledLinkContent--menu-footer:hover{
    color: #fff;
}

.menuContainer--menu-footer :global(.vtex-menu-2-x-styledLinkContainer) {
    margin: 0;
    margin-right: 15px;
}

.menuContainer--menu-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.styledLinkContent--menu-header{
    font-family: Montserrat-SemiBold;
    font-size: 13px;
    font-weight: 500;
}

.styledLinkContainer--menu-header {
    margin: 0;
    padding: 0;
}

.styledLinkContainer--menu-categories {
    margin: 0;
    padding: 0;
}

.styledLinkContent--menu-categories {
    font-family: Montserrat-SemiBold;
    font-size: 13px;
    font-weight: 500;
}

.styledLink--menu-header {
    padding: 8px 0;
    border-bottom: 6px solid transparent;
    display: block;
}

.styledLink--menu-categories {
    border-bottom-color: transparent!important;
    padding: 16px 0;
}


.styledLink {
    border-bottom: 6px solid transparent;
    display: block;
}

.styledLink--menu-header:hover {
    border-bottom-color: currentColor;
}
/*
.submenuWrapper--isOpen {
    padding: 0;
    min-height: 280px;  
}*/