.skuSelectorContainer--quickview .skuSelectorItemImage .frameAround, .skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 50%;
}

.container :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 1;
}

@media screen and (max-width: 40em) {
  .container :global(.vtex-modal-layout-0-x-triggerContainer) {
    display: none;
  }
}
/*
.nameContainer {
  justify-content: start;
  padding-top: 1rem;
  padding-bottom: 1rem;
}*/

.container {
  padding: 25px;
    border-radius: 5px;
    margin-top: 0;
    background-color: #fff;
}

.imageContainer {
  text-align: center;
}

.image {
  border-radius: 0.25rem;
}

.imageNormal {
  max-width: 220px;
  max-height: none!important;
}

.element--home {
  background-color: #fff;
  max-width: 220px!important;
  margin: 0 auto;
  border-radius: 9px;
  width: 100%;
  position: relative;
  border-bottom: .9px solid #e5e6e7;
  border-radius: inherit;
  padding: 40px 0px;
}

  .clearLink-home {
    border-radius: 5px;
    background-color: #fff;
    margin-left: 10px;
    margin-right: 10px;
  }

/*product-sumary*/

.nameContainer--name-summary {
  justify-content: flex-start;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.productNameContainer--name-summary {
    padding: 0;
    max-height: 27px;
    height: 27px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: flex-start;
    text-align: initial;
    font-family: Montserrat-Blod;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.brandName--name-summary {
  font-size: .75rem;
  font-weight: 900;
  color: #82878a;
}

/*end product-sumary*/

/*Wishlist*/

.container--wishlist {
  max-width: 100% !important;
}

  .element--wishlist {
    padding-bottom: 20px;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

.imageContainer--image-wishlist {
  max-width: 100px;
}

.productBrandContainer--brand-wishlist {
  font-size: 12px;
  font-weight: bold;
  text-align: start;
}

.productNameContainer--name-wishlist {
  min-height: 75px;
}

  .brandName--name-wishlist {
    font-size: 16px;
    color: #010101;
    text-transform: capitalize;
  }

  .brandName--name-wishlist:hover {
    text-decoration: underline #010101;
  }

  /*end Wishlist*/
