
.buttonText {
    text-transform: capitalize;
    font-size: .875rem;
    letter-spacing: 0;
}

.buttonDataContainer--button-wishlist {
   font-size: 12px;
   font-weight: bold;
   color: #fff;
   line-height: 1.25;
}