.sellingPrice {
  color: #3f3f40;
  font-size: 1.25rem;
}

.sellingPriceValue {
  font-size: 2.25rem;
  font-weight: 700;
}

.installments {
  color: #727273;
  margin-bottom: 1rem;
}

.savings {
  font-weight: 500;
  color: #79B03A;
}

.sellingPriceValue--summary {
  color: #475be0;
  font-size: 18px;
  font-family: "Montserrat-SemiBold"
}

.savings--summary {
  font-size: 1rem;
  color: #fff;
  width: 56px;
  height: 38px;
  align-items: center;
  justify-content: center;
  background-image: url(https://sugoco.vtexassets.com/arquivos/burbuja_azul_flag.svg);
  background-size: contain;
  background-repeat: no-repeat;
  list-style: none;
  margin: 0;
  display: flex;
  word-spacing: -3px;
  font-family: Montserrat-Regular;
  font-weight: 700;
}

.savings-discount--summary {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #FFFFFF;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.listPrice--list-price-summary {
  font-size: .75rem;
  font-family: Montserrat-SemiBold;
  color: #92989b;
}

.installments--summary {
  margin-bottom: 2rem;
  font-size: 0.875rem;
}

.savings--summaryPercentage {
  background: #0f3e99;
  border-radius: 1000px;
  align-items: right;
  display: flex;
}

.savingsPercentage--summaryPercentage {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #FFFFFF;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.currencyGroup--sumary {
  color: #475be0;
  font-size: 18px;
}

/*wishlist*/

.currencyContainer--price-wishlist {
  font-size: 14px;
  font-weight: bold;
  color: #010101;
}

.currencyContainer--wishlist-listPrice {
  font-size: 14px;
  color:#767676;
}
/*end wishlist*/

.currencyContainer--product {
  font-size: 2rem;
    letter-spacing: .05em;
    color: #475be0;
    font-weight: 600;
    font-style: normal;
}
