/*product-summary*/

.buttonText--button-summary {
    text-transform: capitalize;
    font-size: .875rem;
    letter-spacing: 0;
}

@media only screen and (max-width: 1024px) {
    .buttonDataContainer::before {
      font-family: icomoon;
      content: "\e92d";
      font-size: 1rem;
      text-indent: 0;
      display: block;
      color: #475be0!important;
    }
  }

/*end product-summary*/

/*wishlist*/

.buttonDataContainer--button-wishlist {
   font-size: 12px;
   font-weight: bold;
   color: #fff;
   line-height: 1.25;
}

/*end wishlist*/

/*product*/

.buttonText--button-product {
    font-size: 1rem;
    letter-spacing: .03em;
    text-transform: none;
    font-family: Montserrat-Regular;
    font-weight: 600;
}

/*end product*/